// Custom variables
$header-height:               100px;

// Bootstrap overrides
$headings-font-family:        'Inter', sans-serif;
$headings-font-style:         'normal';
$headings-font-weight:        500;
$headings-line-height:        1.2;
