.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	z-index: $zindex-fixed;

	&__wrap {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0 $container-padding-x;
	}

	&__brand {
		display: block;
	}

	&__logo {
		width: 200px;
		height: auto;
	}

	&__nav {
		@include media-breakpoint-up(lg) {
			display: flex !important;
		}
	}

	&__toggle {
		display: flex;
		cursor: pointer;

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__menu {
		@include visually-hidden;
	}

	&__icon {
		//
	}
}
